.base-logo{
    @apply bg-black text-center text-white p-3 text-xl sm:text-2xl md:text-3xl;
}

.base-body {
    @apply bg-gray-50 text-gray-800;
}

/* Navbar */
.base-navbar {
    @apply bg-white shadow-md;
}

.base-nav-list {
    @apply flex flex-col sm:flex-row justify-center items-center sm:space-x-6 space-y-2 sm:space-y-0 p-4 font-semibold text-lg;
}

.base-nav-content{
    @apply hover:text-blue-600 transition;
}

/* Login / Logout Links */
.base-login-link {
    @apply text-green-600 hover:text-green-800 transition;
}

.base-logout-link {
    @apply text-red-500 hover:text-red-700 transition;
}

/* Main Content */
.base-main {
    @apply w-full min-h-screen p-6 sm:p-10 bg-gray-50 rounded-none shadow-md;
}

/* Title */
.base-title {
    @apply text-2xl sm:text-3xl md:text-4xl font-bold text-center my-6 sm:my-8;
}

/* Footer */
.base-footer {
    @apply bg-gray-400 text-center py-4 mt-10 relative bottom-0 right-0 left-0;
}

.base-footer-p {
    @apply text-sm sm:text-base text-gray-700 max-w-3xl mx-auto px-4;
}

.base-footer-h3 {
    @apply text-base sm:text-lg font-medium;
}

/* @media(max-width: 640px){
  .base-main{
     @apply flex flex-col justify-center items-center gap-4;
  }
} */