<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
  <title>Login</title>
</head>
<body class="auth-body">


 <div class="auth-flash">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
                
                    <div 
                        class="auth-message {% if category == 'error' %} flash-error {% elif category == 'success' %} flash-success {% else %} flash-info {% endif %}"
                        x-data="{ show: true }"
                        x-show="show"
                        x-init="setTimeout(() => show = false, 4000)">
                        {{ message }}
                    </div>
                    
            {% endfor %}
            {% endif %}
        {% endwith %}
        </div>


  <form action="" method="post" 
        class="auth-form">
    
    <h1 class="auth-title">Login</h1>
    <p class="auth-subtitle">Welcome back! Please sign in</p>

    <input class="auth-in" 
           type="text" name="username" placeholder="Username" required>
    <div class="relative w-full">
        <input id ='password' class="auth-in " 
            type="password" name="password" placeholder="Password" required>
         <button type="button" 
            id="togglePassword"
            class="auth-eye"
            onclick="show()">
            👁️
          </button>
    </div>
    <button type="submit" 
            class="auth-bt">
      Sign In
    </button>

    <a href="{{ url_for('regi.register') }}" 
       class="auth-r">
      I don't have an account
    </a>
  </form>

  <script src="{{url_for('static',filename='js/auth.js')}}" ></script>

</body>
</html>
