{% extends 'pc/base.html' %}

{% block css %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}"> -->
{% endblock %}

{% block content %}
  <p class="text-black-600 bg-black/10 p-4 rounded-md">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum pariatur molestiae excepturi doloremque et nam voluptas nobis ipsum quasi voluptatem maxime animi quos illum voluptatibus tempore corporis molestias repudiandae id, similique repellat laborum voluptate aliquam minus. Aperiam eum pariatur neque tempora voluptatum dolorem esse doloremque expedita? Doloribus adipisci in officia?
  </p>

  <h1 class="text-black bg-white/60 text-[28px] font-bold mt-4">
    This is contact page
  </h1>
{% endblock %}
