{% extends 'base.html' %}

{% block css %} <link rel="stylesheet" href="{{url_for('static',filename='dashboard.css')}}"> {% endblock %}


{% block content %}
    <div class="flex justify-center mt-10">
      <h1  class="bg-black/10 mt-10 p-10 " >welcome to dashboard</h1>
    </div>
    
    <!-- {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash-messages">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul> -->
  {% endif %}
{% endwith %}
{% endblock %}